.conteiner {
  width: 500px;
  height: 500px;
  background-color: black;
  position: relative;
}
.time {
  /* background-color: black; */
  color: white;
  font-family: arial;
  font-size: 200px;
  position: absolute;
  animation-name: times;
  animation-duration: 1s;
  opacity: 0;
}
@keyframes times {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

}

.m10{
    animation-delay: 1s;
}

.m9{
    animation-delay: 2s;
}

.m8{
    animation-delay: 3s;
}

.m7{
    animation-delay: 4s;
}

.m6{
    animation-delay: 5s;
}

.m5{
    animation-delay: 6s;
}

.m4{
    animation-delay: 7s;
}

.m3{
    animation-delay: 8s;
}

.m2{
    animation-delay: 9s;
}

.m1{
    animation-delay: 10s;
}

.m0{
    animation-delay: 11s;
}




